div.popup_cont{
	background: rgba(0,0,0,0.75) ;
	/*border-color: rgba(0,0,0,0.82) ;*/
	/*border-style: solid ;*/
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px ;
	margin:0px;
	box-sizing: border-box;
	z-index: 2;
	display: none;
	align-items: center;
	justify-content: center;
	/*animation-fill-mode: forwards;*/
}
div#popup{
	width: 400px ;
	max-width: calc(100vw - 40px) ;
	/*height: 200px ;*/
	background: #f1f1f1;
	margin: auto;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: 1px 1px 5px #1f1e1ea6;
	word-break: break-all;
	/*transition: 1s ;*/
}
div.p_title{
	background: white;
	display: grid;
	grid-template-columns: auto 35px ;
	padding: 10px 0px ;
}
div.p_title_text{
	font-weight: bold;
	padding: 0px 15px;
	font-size: 17px;
	line-height: 25px;
	color: #52544c;
}
div.p_close{/*
	display: flex;
	align-items: center;*/
	/*justify-content: center;*/
}
div.p_close i{
	font-size: 20px;
	color: #555;
	cursor: pointer;
}
div.p_close i:hover{
	color: black;
}
div.p_body{
	padding: 10px;
	/*min-height: 100px;*/
	/*box-sizing: content-box;*/
}
div.action_buttons{
	/*border: 1px solid red;*/
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 20px 0px 10px 0px;
	box-sizing: border-box;
}
div.action_buttons div{
	border: 1px solid #848484;
	background: white;
	text-align: center;
	/*flex: 1;*/
	padding: 10px 20px;
	box-sizing: border-box;
	margin: 0px 10px;
	border-radius: 20px;
	color: #777	;
	word-break: initial;
}
div.action_buttons div:hover{
	font-weight: bold ;
	box-shadow: 0px 0px 5px 0px #cacaca;

}
div.ab_copy{
	cursor: default;
}
div.ab_action{
	cursor: pointer;
}
div.action_buttons div a{
	color: inherit;
}